<!-- <app-header></app-header> -->
<div class="container">
  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer mode="over" class="menu-drawer">
      <!--  mode=side -->
      <app-sidenav></app-sidenav>
    </mat-drawer>

    <mat-drawer-content>
      <div class="navbar navbar-dark navbar__custom">
        <div class="container">
          <button mat-mini-fab color="primary" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <div class="header__navbar">
            <app-header></app-header>
          </div>
        </div>
      </div>
      <div class="page-main">
        <div class="container">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="footer__custom">
        <div class="container">
          <app-footer></app-footer>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
