.cantainer {
  color: rgb(6, 7, 7);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 1px 2px 3px 4px;
}
input {
  width: 100%;
  margin: 3px;
}
.cart {
  margin: 50px;
}
.btn {
  padding: 10px;
  margin: 50px;
  text-align: center;
}
